html,body { font-family:centuryGothic;background-color:#333; }
a, a:hover { white-space:nowrap;text-decoration:none !important;display: inline-block;cursor:pointer; }
th { white-space:nowrap; }
pre { font-family:centuryGothic;border:0px;padding:0;margin:0;background-color:transparent;
	white-space:pre-wrap;
	word-wrap:normal;
	overflow: auto;
}
.marker { font-family: 'Permanent Marker', cursive; }
.need { font-size:40px; }
.need_small { font-size:28px; }
object { pointer-events:none;margin:0; }
.negative { color:red; }
#form_upload { display:none; }
.page-title { font-size:18px;text-align:center; }
.datetimepicker, .datepicker, .ui-datepicker{ z-index: 9999 !important; }
.index-cover { width:100%;position:absolute;background-color:rgba(255, 255, 255, 0.8); }
.index-container-spacer { height:150px; }
.index-block-container { margin:3px 0px 0px 0px; }
.index-block-company { background:url('/images/shake_hands.png');height:300px;background-repeat: no-repeat;background-size: cover; }
.index-block-recruiter { background:url('/images/meeting.png');height:300px;background-repeat: no-repeat;background-size: cover; }
.index-block-job-seeker { background:url('/images/cell_phone.png');height:300px;background-repeat: no-repeat;background-size: cover; }
.index-block-cleaner { background:url('/images/cleaner.png');height:300px;background-repeat: no-repeat;background-size: cover; }
.index-block-stock-supplies { background:url('/images/supplies.png');height:300px;background-repeat: no-repeat;background-size: cover; }

.mainSite { background-color:#FFF;
	.headerIcon { font-size:14px;margin-left:2px; }
	.gray { color:#CCC }
	.blue { color:#23527C }

	.tableStripe { background-color:#F9F9F9; }
	.navbar { border:0px solid #F8F8F8;border-radius:0px;padding:0px 10px;margin:0; }
	.navbar-brand { font-size:24px;color:#23527C;text-decoration:none; }

	.container-fluid {
		margin:0;padding:40px 20px;overflow:hidden;
	}

	#siteFooter {
		color:#999;background-color:#333;overflow:hidden;

		a { color:#999; }
		.poweredby {
			color:#999;

			a { color:#999; }
		}
	}

	#siteErrors {
		position:relative;z-index:101;
		background: rgb(255,60,53);
		background: -moz-linear-gradient(-45deg, rgba(255,60,53,1) 0%, rgba(255,151,160,1) 54%, rgba(255,103,133,1) 100%, rgba(255,83,92,1) 100%);
		background: -webkit-linear-gradient(-45deg, rgba(255,60,53,1) 0%,rgba(255,151,160,1) 54%,rgba(255,103,133,1) 100%,rgba(255,83,92,1) 100%);
		background: linear-gradient(135deg, rgba(255,60,53,1) 0%,rgba(255,151,160,1) 54%,rgba(255,103,133,1) 100%,rgba(255,83,92,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3c35', endColorstr='#ff535c',GradientType=1 );
	}
	#siteWarnings {
		position:relative;z-index:101;
		background: rgb(255,157,53);
		background: -moz-linear-gradient(-45deg, rgba(255,157,53,1) 0%, rgba(255,193,151,1) 54%, rgba(255,146,103,1) 100%, rgba(255,158,83,1) 100%);
		background: -webkit-linear-gradient(-45deg, rgba(255,157,53,1) 0%,rgba(255,193,151,1) 54%,rgba(255,146,103,1) 100%,rgba(255,158,83,1) 100%);
		background: linear-gradient(135deg, rgba(255,157,53,1) 0%,rgba(255,193,151,1) 54%,rgba(255,146,103,1) 100%,rgba(255,158,83,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9d35', endColorstr='#ff9e53',GradientType=1 );
	}
	#siteNotices, .websiteNotice, .websiteTop {
		position:relative;z-index:101;
		background: rgb(59,103,158);
		background: -moz-linear-gradient(-45deg, rgba(59,103,158,1) 0%, rgba(125,185,232,1) 54%, rgba(48,180,242,1) 100%, rgba(43,136,217,1) 100%);
		background: -webkit-linear-gradient(-45deg, rgba(59,103,158,1) 0%,rgba(125,185,232,1) 54%,rgba(48,180,242,1) 100%,rgba(43,136,217,1) 100%);
		background: linear-gradient(135deg, rgba(59,103,158,1) 0%,rgba(125,185,232,1) 54%,rgba(48,180,242,1) 100%,rgba(43,136,217,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#2b88d9',GradientType=1 );
	}

	#siteErrors, #siteWarnings, #siteNotices { display:none;padding:10px;font-size: 14px;color: #333; }
	#siteErrors .glyphicon, #siteWarnings .glyphicon, #siteNotices .glyphicon {font-size: 28px; }

	.pagination { margin:0;padding:0;display:inline; }
	.search-col { margin-bottom:20px; }

	#updateForm, #more, .responseDescription, .more, .none { display:none; }
}

.websiteNotice{ padding:2px 0px 3px 0px;text-align:center;color:#333 }
#pageUp { position:fixed;bottom:10px;right:10px;cursor:pointer;display:none;z-index:10000; }
.full-width { width:100% }
.help-block-force { margin:5px 0;color:#737373; }
.short_text { margin:40px auto 160px auto; }
